@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
}
.container{
    padding: 30px 200px;
}
.title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 60px;
}
.description{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}
.details-icon{
    padding-top: 6px;
}
.details{
    padding-right: 300px;
}


.hero-img{
    width: 800px;
}
.section-title{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
#ingredients{
    display: flex;
    gap: 100px;
    margin-top: 40px;
}
.section-sub-title{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    margin: 30px 0;
}
.box{
    outline: none;
    border: 1px solid #828282;
    margin-right: 5px;
    margin-bottom: 20px;
}
#check-container{
    width: 500px;
}
#timing{
     border-radius:12px ;
     box-shadow:  0 0 0 2px rgb(255, 255, 255),
     0.3em 0.3em 1em rgba(145, 142, 142, 0.3);
     padding: 30px 40px;
     height: fit-content;
}
.yields,.cook-time,.pre-time,.total-time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.fa-utensils{
    color: #F2994A;
    font-size: 30px;
}
.fa-clock{
    font-size: 30px;
    color: #4F4F4F;
}
.t-title{
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    color:#BDBDBD ;
}
.quantity{
    font-size: 14px;
    font-weight: 500;
}
.active{
    color: #F2994A;
}
#instructions{
    margin-top: 60px;
}
.instruction{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.number{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    background-color: #F2994A;
    border-radius: 6px;
    padding: 2px 10px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

#footer{
    text-align: center;
    margin-top: 100px;
}
.footer-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #BDBDBD;
    line-height: 17px;
}

.link{
    font-weight: 700;
    color: #BDBDBD;
}

@media screen and (max-width:600px) {
    .container{
        padding: 30px 20px;
    }
    .title{
        font-size: 26px;
        line-height: 20px;
    }
    .details{
        margin-top: 15px;
        padding-right: 0px;
    }
    .details-icon{
        padding-top: 20px;
    }
    .hero-img{
        width: 340px;
    }
    #ingredients{
        flex-direction: column;
    }
    #check-container{
        width: 355px;
    }
    #timing{
        box-shadow:  none;
        padding: 30px 40px;
   }
   #footer{
    margin-top: 50px;
}
}
